# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\server\www\LPDWCA2021PWA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
